body {background: #efefef!Important;}
#wrapper{font-family: 'Roboto', sans-serif; }
.big-img {background: url(../images/banner_landingpage_2016_2.jpg) no-repeat; max-width:100% !important;
    max-height:100% !important;
	height: 844px;
    display:block;
	background-size: cover;}
#img-tuyen-sinh {
	position: relative;
    top: -315px;
    z-index: 999;
}
.no-padding {padding-left: 0; padding-right: 0;}
.no-padding-left {padding-left:0;}
.no-padding-right {padding-right:0;}
.top-title {position: absolute; top: 463px; left: 150px; background: #000000; opacity: 0.8; }
.top-title h1 {color: #f46521; font-weight: bold; font-size: 28px;}
.text-top {background: #000000; opacity: 0.8;  position: absolute; top: 535px; left: 150px;}
.text-top p {color: #ffffff; font-size: 18px; font-weight: 100;}
#main{background: #ffffff;  margin-top: -220px; border-radius: 10px 10px 0 0; padding-top: 10px;}
#vi-sao {background-color: #f46521;}
.hot-sao {color: #f46521;}
.title-01 h2{color: #fff; margin-top: 50px; margin-bottom: 30px;}
.title-01 p{font-weight: 300; font-size: 18px;}
.centered {margin: 0 auto; display: block;}
#wrapper-ly-do{background-color: #fff;}
#wrapper-ly-do .atitle{color:#f46521;}
#wrapper-ly-do p, #wrapper-ly-do-2 p {text-transform: uppercase; color: #f46521; margin-top: 10px; font-size: 18px; }
.button-reg {background: #f46521; color: #ffffff; padding: 10px 20px; text-transform: uppercase; font-size: 27px; border-radius: 10px; margin-top: 45px; margin-bottom: 60px; font-weight: bold;}
.button-cam {background: #f46521; color: #ffffff; padding: 10px 20px; text-transform: uppercase; font-size: 27px; border-radius: 10px; margin-top: 45px; margin-bottom: 60px; font-weight: bold;}
.button-reg:hover, #button-reg:hover {text-decoration: none; color: #8058f3;}
#thong-bao-tuyen-sinh {background: #e1e1e1;}
#thong-bao-tuyen-sinh h3 {color: #f46521; text-transform: uppercase; font-weight: normal; font-size: 25.5px; margin-top: 40px;}
#thong-bao-tuyen-sinh .caption-text {font-weight: 100; color: #000; font-size: 18px;}
#noi-dung-thong-bao .list-group li a{color: #f46521; font-size: 18px;}
#noi-dung-thong-bao .list-group li a:hover, #noi-dung-thong-bao .list-group li a:active {text-decoration: none;}
#noi-dung-thong-bao .list-group li {padding: 5px 10px;}
#noi-dung-thong-bao .list-group .active {background: #ffffff; padding: 5px 10px;}
#noi-dung-thong-bao .list-group .active a {color: #f46521;}
#noi-dung-thong-bao .tab-content .active {background: #ffffff;}
#noi-dung-tab {padding-left: 0;}
#menu-list-tab {padding-right: 0;}
.button-reg-2:hover {text-decoration: none; color: #8058f3;}
.button-reg-2 {font-weight: bold; background: #ffffff; color: #f46521; padding: 10px 20px; text-transform: uppercase; font-size: 27px; border-radius: 10px; margin-top: 20px; margin-bottom: 30px;}
#dang-ky-hoc {background: #f46521;}
#dang-ky-hoc .btn {margin-top: 20px; border-radius: 0;}
#btnAjax {background: #c00005; border: none; border-radius: 0; text-transform: uppercase;}
#dang-ky-hoc .title {color: #ffffff; text-transform: uppercase;}
#dang-ky-hoc p {color: #ffffff; margin-top: 20px;}
.glyphicon-chevron-right {color: red;}
.glyphicon-chevron-left {color: red;}
.carousel-control.right {background-image: none;}
.carousel-control.left {background-image: none;}
#testimonial .title {text-transform: uppercase; color: #f46521;}
#navbar a {color: #f46521; text-transform: uppercase;}
#navbar {background: #ffffff; border-radius: 5px;}
#navbar-wrapper {position: absolute; top: 50px; z-index: 999;}
#navbar .active a, #navbar  a:hover, #navbar  a:focus{background: #f46521; color: #ffffff;}
#thu-vien-anh {background: #f46521; padding-bottom: 20px;}
#thu-vien-anh h3{color: #ffffff;}
#lien-he {background: #da581a; color: #ffffff;}
#lien-he h3 {margin-left: 15px; text-transform: uppercase; font-size: 27px;}
.logo-fu {padding: 10px;}
#noi-dung-tab {background: white; padding-left: 20px; padding-top: 20px;}
#bang-ma-to-hop tr td {border: 1px solid #ddd;} 
#chuyen-nganh  {background-color: #efefef; padding-bottom: 40px;}
#chuyen-nganh .title-chuyen-nganh {color:#f46521; font-size: 27px; margin-bottom: 35px; margin-top: 45px;}
#chuyen-nganh  img {width: 100%;}
#chuyen-nganh ul li a {color: #363636; font-weight: bold;}
#chuyen-nganh .wrapper-title-chuyen-nganh h4 {text-transform: uppercase; color: #fff;}
#chuyen-nganh .wrapper-title-chuyen-nganh {background-color: #f46521; padding: 18px 18px 10px 18px;}
#chuyen-nganh .list-chuyen-nganh {padding-top: 10px; padding-bottom: 5px; background-color: #fff; height: 75px;}
#noi-dung-thong-bao .nav li a {color: #f46521; padding: 10px 10px; font-size: 18px;}
#noi-dung-thong-bao .nav-pills>li.active>a, #noi-dung-thong-bao .nav-pills>li.active>a:hover, #noi-dung-thong-bao .nav-pills>li.active>a:focus, #noi-dung-thong-bao .nav-pills>li>a:hover{
	background-color: #f15b26; color: #fff; border-radius:0;}
.button-reg-2 {color: #fff; background-color: #f46521;}
#button-reg {color: #fff; background-color: #f46521; padding: 10px 20px; text-transform: uppercase; font-size: 27px; border-radius: 10px; margin-top: 45px; margin-bottom: 30px; font-weight: bold;}
.mfp-close-btn-in .mfp-close,  .mfp-close-btn-in .mfp-close:active{
    border-radius: 25px;
    color: #f76505!Important;
    background-color: #790000;
    top: -20px;
    opacity: 1;
    top: 10px;
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close{background-color: transparent;}